name: CI

on:
  # every git push (to any branch)
  push:
    tags-ignore: ['*']
  # pullâ€request events *against* main, for the "merge-commit" build
  pull_request:
    branches:
      - main
    types:
      - opened
      - reopened
      - synchronize

env:
  CI: 1
  HUSKY: 0

jobs:
  lint-build-test:
    runs-on: ubuntu-latest

    steps:
      # setup tools and install dependencies
      - name: Setup dependencies
        uses: ./.github/actions/setup-deps

      # run CI tasks
      - run: pnpm run lint
      - run: pnpm run typecheck
      - run: pnpm run build
      - run: pnpm run test
