name: Publish

on:
  # watch for CI workflow to finish
  workflow_run:
    branches: [main]
    types:
      - completed
    workflows: ['CI']

concurrency: ${{ github.workflow }}-${{ github.ref }}

env:
  CI: 1
  HUSKY: 0
  TURBO_TELEMETRY_DISABLED: 1

jobs:
  publish:
    # only run when CI passed
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      # checkout project
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.CHANGESETS_GITHUB_TOKEN }}

      # setup tools and install dependencies
      - name: Setup dependencies
        uses: ./.github/actions/setup

      # configure git to ignore executable bit on files and remove executable bits from all files
      # (except node_modules) to prevent publishing failures via github-api
      - name: Configure git file mode and remove executable bits
        run: |
          git config core.fileMode false
          find . -type f -not -path "*/node_modules/*" -executable -exec chmod -x {} +
        shell: bash

      # perform changesets release operations
      - name: Create Publish Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          commitMode: github-api
          publish: pnpm publish-packages
        env:
          GITHUB_TOKEN: ${{ secrets.CHANGESETS_GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
