frameworkVersion: ^4.0.0
org: twindigital
service: discord-bot

# we use tsdown for our own building
build:
  esbuild:
    bundle: false

stages:
  default:
    params:
      region: us-east-2
  dev:
    params:
      region: us-east-2
  prod:
    params:
      region: us-east-2
  sean:
    params:
      profile: 775111556400-AdministratorAccess
      region: us-east-2

provider:
  name: aws
  runtime: nodejs22.x
  stage: ${opt:stage, 'dev'}
  region: ${param:region}
  profile: ${param:profile, ''}

functions:
  poc:
    handler: src/functions/poc.handler
